body {
    margin: 0;
  }
  
  .NavBar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .NavItem {
    margin-right: 15px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Neue Machina';
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .navbar-brand {
    font-size: 30px;
    font-family: 'Neue Machina';
    font-weight: bold;
    color: #262525;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .Navigation {
    background-color: transparent; 
    padding: 30px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: #007bff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navItem:last-child {
    margin-right: 0; 
  }
  
  .navItem.logout {
    margin-left: auto; 
  } 





























  @font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-InktrapLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-InktrapLightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-InktrapRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-InktrapRegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-InktrapUltrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-InktrapUltraboldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-PlainLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-PlainLightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-PlainRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-PlainRegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-PlainUltrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/public/fonts/PPNeueMachina-PlainUltraboldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}